body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    background-color: #cf4646;
    color: #efefef;
    text-align: center;
}
#navbar{
    width: 980px;
    margin: auto;
    color: aliceblue;
}
.nav{
    float: right;
}
.jumbotron {
  text-align: center;
  background-color: #cf4646;
  color: #fff;
}